<br \>
<div class="container background">
  <div class="row titlebar">
    <div row="container">
      <div class="col-xs-4 col-sm-4">
        <h4>YOUR CONVERSATIONS </h4>
      </div>

      <div class="col-xs-8 col-sm-8">
        <%=link_to 'New conversation', new_message_path, class: 'btn btn-lg btn-primary btn-sm btn-new-conversation' %>
      </div>
    </div>
  </div>

  <div class="row messages_all">
    <div row="container">
      <div class="col-xs-4 col-sm-4">
          <ul class="nav nav-pills nav-stacked mailbox_options">
            <li><%= mailbox_section 'inbox', @box %></li>
            <li><%= mailbox_section 'sent', @box %></li>
            <li><%= mailbox_section 'trash', @box %></li>
          </ul>
      </div>

      <div class="col-xs-8 col-sm-8">
        <div class="pop_up">
            <% if @box == 'trash' %>
            <%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                         data: {confirm: 'Are you sure?'} %></p>
            <% end %>

            <ul class="list-group">
              <%= render partial: 'conversations/conversation', collection: @conversations %>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <%= will_paginate %>
</div>
