<div id="container">
<!--p class="notice"><%= notice %></p-->
  <!--p class="alert"><%= alert %></p-->
  <!--nav class="navbar navbar-inverse"-->
    <!--div class="container"-->
      <div class="navbar-header">
        <%= link_to 'chatable', root_path, class: 'chatable'%>
      </div>  
      <ul class="navbar_categories">
        <% if user_signed_in? %>
          <li class="toolbarcategories"><%= link_to 'PROFILE', edit_user_registration_path %></li>
          <li class="toolbarcategories"><%= link_to 'FIND PALS', users_path %></li>
          <li class="toolbarcategories"><%= link_to 'YOUR MESSAGES', conversations_path %></li>
          <li class="toolbarcategories"><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="toolbarcategories"><%= link_to 'LOG IN', new_user_session_path %></li>
        <% end %>
      </ul>
</div>
</nav>
</div>

<% "Your Conversations" %>

<p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary' %></p>

<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      <%= mailbox_section 'inbox', @box %>
      <%= mailbox_section 'sent', @box %>
      <%= mailbox_section 'trash', @box %>
    </ul>
  </div>

  <div class="col-sm-9">
    <% if @box == 'trash' %>
      <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                     data: {confirm: 'Are you sure?'} %></p>
    <% end %>
    <ul class="list-group">
      <%= render partial: 'conversations/conversation', collection: @conversations %>
    </ul>

    <%= will_paginate %>
  </div>
</div>
