<div class="container background">
  <div class="row titlebar">
    <div row="container row_1_conversations">
      <div class="col-xs-4 col-sm-4">
        <h4>YOUR CONVERSATIONS </h4>
      </div>

      <div class="col-xs-8 col-sm-8">
        <%=link_to 'NEW MESSAGE', new_message_path, class: 'btn btn-lg btn-primary btn-sm btn-new-conversation' %>
      </div>
    </div>
  </div>

  <div class="row messages_all">
    <div row="container">
      <div class="col-xs-4 col-sm-4">
          <ul class="nav nav-pills nav-stacked mailbox_options">
            <li><%= mailbox_section 'inbox', @box %></li>
            <li><%= mailbox_section 'sent', @box %></li>
            <li><%= mailbox_section 'trash', @box %></li>
          </ul>
      </div>

      <div class="col-xs-8 col-sm-8">
        <div class="pop_up">
            <% if @box == 'trash' %>
            <%= link_to image_tag("trashcan.png", size: "30x30"), empty_trash_conversations_path, class: 'icon', method: :delete,
                  data: {confirm: 'Are you sure?'} %></p>
            <% end %>

            <ul class="list-group no_message_box">
              <% if @conversations.empty? %>
                <h6>NO MESSAGES TO DISPLAY</h6>
              <% else %>
              <%= render partial: 'conversations/conversation', collection: @conversations %>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <%= will_paginate %>
</div>
