<br/>
<br/>

<div class="panel panel-default panel-default-conversation">
  <div class="panel-heading-large"><%= @conversation.subject %></div>

  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <div class="media">
          <% message = receipt.message %>
          <div class="media-left">
            <a><%= image_tag message.sender.avatar.url(:medium), :class =>'conversation_pic' %></a>
          </div>

          <div class="media-body">
            <h6 class="media-heading"><%= message.sender.first_name %></h6>
              <h7 class="blue-time"><%= time_ago_in_words(message.created_at) %> ago</h7> <br/>
          </div>

          <div class="messages-body"><%= message.body %></div>
          <div class="line-separator"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group form-group-conversation">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control form-control-conversation', placeholder: 'Type something...', required: true %>
    <%= submit_tag "Send Message", class: 'btn btn-primary' %>
  </div>
  
<% end %>