<!--<%= user.first_name %>
<br/><%= image_tag user.avatar.url(:medium) %><br/>
<% languages.each do |language| %>
	<%= language.name %>
<% end %>-->

    <div class="col-sm-4">
        <div class="media">
            <a class="pull-left" href="#">
            	<%= image_tag user.avatar.url(:medium) %>
            </a>
            <div class="media-body">
            	<h4 class="media-heading"><%= user.first_name %>  <%= user.last_name %><small> <%= user.location %></small></h4>
            	<hr style="margin:8px auto">
            	<% languages.each do |language| %>
            		<span class="label label-default"><%= language.name %></span>
            	<% end %><br/>
                
                <div class="About Me"><%= user.about_me %></div>
            	<a><%= link_to "Message This User", new_message_path(:to => user.id), class: "btn btn-large btn-primary" %></a>

            </div>
        </div>
    </div>
    

