<!--#page for people who have not signed up/in yet-->

<div class="jumbotron jumbotron-main">
  <div class="container">
    <h1>chatable</h1>
    <h3>connecting a diverse world through online messaging,<br \>
    one language at a time...</h3>
  </div>
</div>

<div class="container_1">
  <div class="row_one">
  	INTRODUCING CHATABLE
  </div><br \>
  <div class="row_one_second">
  	The most effective way to expand your network, find new friends <br \>
  	and learn a new language - all from the comfort of your own home!
  </div>
  <br \> <br \> 
  <div class="row_one_third">
    <div class="col-xs-6 col-sm-4">
    	<%= image_tag 'signin.jpg', :class => "display-img" %>
    	 <br \>
     	FIND NEW PEOPLE
    </div>
    <div class="col-xs-6 col-sm-4">
    	 <%= image_tag 'newlanguage.jpg', :class => "display-img" %>
    	 <br \>
      	LEARN NEW LANGUAGES
    </div>
    <div class="col-xs-6 col-sm-4">
    	<%= image_tag 'newhorizons.jpg', :class => "display-img" %>
    	 <br \>
    	REACH NEW HEIGHTS
    </div>
  </div>
 </div>

<br \><br \><br \><br \>

<div class="jumbotron jumbotron-second">
  <div class="container">
    <!--filler text-->
  </div>
</div>

<div class="container_2">
  <div class="row_two">
  HOW DOES IT WORK?
  </div>
  	<br \>
  <div class="row_two_categories">
    <div class="col-xs-6 col-sm-3">
     	SIGN UP
     	<%= image_tag 'computer.png', :class => "display-img2" %>
    </div>
    <div class="col-xs-6 col-sm-3">
      	MAKE NEW FRIENDS
      	<%= image_tag 'user.png', :class => "display-img2" %>
    </div>
    <div class="col-xs-6 col-sm-3">
    	MASTER YOUR SKILLS
    	<%= image_tag 'language.png', :class => "display-img2" %>
    </div>
    <div class="col-xs-6 col-sm-3">
    	SEE THE WORLD
    	<%= image_tag 'world.png', :class => "display-img2" %>
    </div>
  </div>
</div>

