<!DOCTYPE html>
<html>
<head>
  <title>chatable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>
<div id="container">
<!--p class="notice"><%= notice %></p-->
  <!--p class="alert"><%= alert %></p-->
  <nav class="navbar navbar-inverse">
    <!--div class="container"-->
      <div class="navbar-header">
        <%= link_to 'chatable', root_path, class: 'chatable'%>
      </div>  
      <ul class="navbar_categories">
        <% if user_signed_in? %>
          <li class="toolbarcategories"><%= link_to 'PROFILE', edit_user_registration_path %></li>
          <li class="toolbarcategories"><%= link_to 'FIND PALS', users_path %></li>
          <li class="toolbarcategories"><%= link_to 'YOUR MESSAGES', conversations_path %></li>
          <li class="toolbarcategories"><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  

  <%= yield %>

</div>

</body>
 
</html>
